[Unit]
Description=mqtt listener service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=/home/pi/water/
ExecStart=/home/pi/water/venv/bin/python /home/pi/water/mqtt_listener.py

[Install]
WantedBy=multi-user.target
